@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik:wght@300;400;500;600&display=swap');
@import 'variables.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ip {
    position: relative;
    cursor: pointer;
}
html {
    overflow-x: hidden;
}
.copy-popup {
    position: fixed;
    display: flex;
    top: 20px;
    left: 50px;
    align-items: center;
    gap: 15px;
    background-color: var(--overlay);
    width: 200px;
    height: 50px;
    padding: 12px;
    border-radius: 8px;
    transform: translateX(-250px);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 3;
}
.copy-popup p {
    color: var(--text);
}
.copy-popup i {
    color: var(--popup);
    width: 25px;
    height: 25px;
    border: 1px solid var(--text-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copied {
    opacity: 1;
    transform: translateX(0px);
}
.hide {
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 1s;
    transform: translateX(-250px);
    opacity: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--text-light);
    position: relative;
}
body {
    background-color: var(--background);
    /* overflow: visible; */
    font-family: Rubik;
    /* height: 200vh; */
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding-bottom: 50px;
}
main {
    margin-top: 75px;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--overlay); 
}
.shown {
    display: block;
}
canvas {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
header {
    position: relative;
    /* background: linear-gradient(to top, var(--background), var(--primary-light));  */

    /* overflow: h; */
    height: fit-content;
    /* padding-bottom: 50px; */
    /* max-height: 100vh; */
}
.bgi {
    left: 0%;
    position: absolute;
    content: "";
    background-image: url('https://wallpapercave.com/wp/wp7930319.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    /* background-position: center; */
    width: 100vw;
    /* height: 550px; */
    z-index: -1;
}
.color {
    position: absolute;
    width: 100vw;
    /* height: 550px; */
    top: 0;
    left: 0%;
    z-index: -1;
    background: linear-gradient(to top, var(--background), var(--primary-overlay)); 
}
nav {
    padding: 50px var(--side-padding);
}
.hero {
    padding: 0 var(--side-padding);
}
.hero .hero-logo {
    width: 40%;
    margin: auto;
}
.hero-logo img {
    width: 100%;
}
.button {
    width: 160px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 8px;
    margin-top: 22px;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: 0;
    border: 0;
}
.button a {
    color: var(--text);
    padding: 12px;
}
.button:hover {
    border: 1px solid var(--primary);
    background-color: transparent;
}
.button:hover a {
    color: var(--primary);
}

.navbar {
    display: flex;
    gap: 75px;
    justify-content: center;
    font-size: 20px;
}
.navbar .active {
    color: var(--text)
}
.navbar i {
    margin-right: 5px;
}
.navbar a:hover {
    color: var(--text);
    transition: all .3 ease;
}
.navbar a::before {
    width: 40%;
    height: 0;
    content: "";
    position: absolute;
    display: none;
    box-shadow: 0px 0px 40px 20px var(--);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.navbar a:hover::before {
    display: block;
}
.mobile-nav {
    display: none;
}
.toggle {
    position: relative;
    display: none;
    color: var(--text-light);
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
}
.toggle i {
    cursor: pointer;
}
.toggle p{
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 700;
    font-size: 30px;
    background-image: linear-gradient(to right, var(--secondary), black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.toggle i:hover {
    color: var(--text);
}
.logo {
    width: 12%;
}
.logo img {
    width: 100%;
}
.closer {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-light);
    margin-bottom: 20px;
    text-align: right;
    color: var(--text-light);
}
.closer i {
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.closer i:hover {
    background-color: var(--closer-hover)
}
.mobile-nav {
    transform: translateX(0);
    transition: all .6s ease;
}
.servers-info {
    display: flex;
    justify-content: space-between;
}
.server-info{
    width: 275px;
    height: 90px;
    /* background-image: linear-gradient(to top, var(--background), var(--overlay)); */
    /* background-color: var(--background-light); */
    border-radius: 8px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    cursor: pointer;
    position: relative;
}
.servers-info i {
    color: var(--accent);
}
.servers-info p {
    color: var(--primary);
}
.servers-info .icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    background-color: var(--icon-background);
    font-size: 16px;
}
.server-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.server-info:hover {
    background-color: var(--overlay);
    border: 1px solid var(--primary);
}
.section-title {
    margin-bottom: 50px;
}
.section-title h3 {
    font-size: 56px;
    color: var(--text);
    font-family: "Josefin Sans";
    position: relative;
    width: fit-content
}
.section-title h3::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    bottom: -10px;
    background-color: var(--primary);
    border-radius: 24px;
    box-shadow: 0px 0px 5px 2px var(--primary-light);
}
.logo-animation {
    animation: logo 2s infinite ease-in-out alternate;
}
.body-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 1px solid red; */
}
footer {
    margin-top: 120px;
    background-color: var(--background-light);
    width: 200vw;
    transform: translateX(-50%);
}
.footer-container {
    padding: 50px var(--side-padding);
    display: flex;
    gap: 20px;
    max-width: 1800px;
    position: relative;
    left: 50%;
}
.play-now-desc p, .join-us-desc p {
    line-height: 150%;
}
footer p, .footer-middle a {
    color: var(--text) !important;
}
.footer-middle a:hover {
    color: var(--primary) !important;
}
.footer-section-title {
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
    color: #fafafa;
}
.footer-section-title::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -10px;
    background-color: var(--primary);
    border-radius: 24px;
    box-shadow: 0px 0px 5px 2px var(--primary-light);
}
.footer-start, .footer-end {
    width: 40%;
}
.footer-middle {
    width: 20%;
}
.footer-middle li {
    margin: 5px 0;
}
.footer-end i {
    margin-right: 5px;
}
.button {
    box-shadow: 0px 0px 15px 5px var(--primary-overlay);
}
.server-footer-ip {
    width: fit-content;
    margin-top: 22px;
    padding: 12px 15px;
    border-radius: 6px;
    color: var(--text-light);
    text-transform: uppercase;
    background-color: var(--background-lighter);
    cursor: pointer;
}
.server-footer-ip:hover p {
    color: var(--primary) !important;
}
@keyframes logo {
    to {
        transform: translateY(-10%);
    }
}
@keyframes copy-hide {
    to {
        transform: translateX(-250px);
        opacity: 0;
    }
}
@media (min-width: 1800px) {
    footer {
        margin-top: auto;
    }
}
@media (max-width: 1397px) {
}
@media (max-width: 1272px) {
    .hero-logo {
        width: 80% !important;
    }
}
@media (max-width: 1190px) {
    .navbar {
        gap: 45px;
    }
}
@media (max-width: 1030px) {
    :root {
        --side-padding: 50px
    }
}
@media (max-width: 992px) {
    .navbar {
        display: none;
    }
    .toggle {
        display: flex;
    }
    nav {
        position: relative
    }
    .mobile-nav {
        display: block;
        background-color: var(--background);
        width: 400px;
        max-width: 100%;
        height: 100vh;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        transform: translateX(-100%);
    }
    .open {
        transform: translateX(0);
    }
    .mobile-nav .navbar {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 860px) {
    .footer-container > * {
        width: 100% !important;
    }
    .footer-container {
        flex-direction: column;
        align-items: start;
    }
}
@media(max-width: 720px) {
    :root {
        --side-padding: 50px;
    }
}
@media (max-width: 555px) {
    :root {
        --side-padding: 20px;
    }
}
@media (max-width: 691px) {
    .server-info {
        height: fit-content !important;
    }
}
@media (min-width: 421px) and (max-width: 630px) { 
    .server-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 100px;
        text-align: center;
    }
}
@media (max-width: 420px) {
    .servers-info {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}