@import '../variables.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik:wght@300;400;500;600&display=swap');

.hero .hero-logo {
    width: 60%;
    margin: auto;
}
.hero-logo img {
    width: 100%;
}
main .section-title {
    font-family: 'Jesefin Sans' !important;
}
main {
    margin-top: 100px;
    padding: 0 var(--side-padding);
}
.store-content {
    display: flex;
    gap: 25px;
}
.side-one {
    width: 25%
}
.store-categories, .recent-customers {
    width: 100%;
    border-radius: 12px;
    background-color: var(--background-light);
    padding: 22px;
    height: fit-content;
}
.store-categories {
    margin-bottom: 25px;
}
.store-categories:hover {
    background-color: var(--overlay);
    border: 1px solid var(--primary);
}
.store-categories:hover .title {
    color: var(--primary);
}
.store-categories ul {
    display: flex;
    flex-direction: column;
}
.store-categories ul li {
    position: relative;
    display: block;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--text-light);
    cursor: pointer;
}
.store-categories ul li::before {
    position: absolute;
    content: "";
    height: 0px;
    opacity: 1;
    transition: height .3s ease;
}
.store-categories ul li:hover::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    border-radius: 8px;
    background-color: var(--primary-light);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    opacity: 1;
}
.store-categories .active-nav {
    position: relative;
}
.store-categories .active-nav::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    border-radius: 8px;
    background-color: var(--primary);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px 1px var(--primary-light);
}
.store-categories ul li:hover {
    color: var(--accent);
}
.store-categories .title, .side-one .title {
    color: var(--text-light);
    font-size: 20px;
    margin-bottom: 22px;
}
.store-lists li {
    font-size: 18px;
}
.customer-heads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.head {
    position: relative;
    width: fit-content;
}
.head::before {
    position: absolute;
    content: attr(username);
    left: 50%;
    color: var(--primary);
    padding: 12px;
    background-color: var(--background);
    border-radius: 6px;
    opacity: 0;
    transform: translate(-50%, -50px);
    pointer-events: none;
    transition: opacity .3s ease;
}
.head:hover::before {
    pointer-events: all;
    opacity: 1;
}
.mobile-store .title {
    position: relative;
    margin-left: 30px;
    cursor: pointer;
}
.mobile-store {
    display: none;
}
.mobile-store .title::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid var(--text-light);
    bottom: 50%;
    left: -0px;
    transform: translateY(75%);
    transition: transform .3s ease, border-top-color .3s ease;
}
.mobile-store .store-open::before {
    transform: rotate(180deg);
    border-top-color: var(--primary);
}
.store-info {
    width: 75%;
    background-color: var(--background-light);
    color: var(--text-light);
    padding: 22px;
    border-radius: 12px;
}
.store-info > .title {
    font-size: 32px;
    margin-bottom: 22px;
}
.store-info p {
    margin-bottom: 20px;
    line-height: 150%;
}
.store-info .content .title {
    font-size: 25px;
    margin-bottom: 12px;
}
.intro-title,
.help-title,
.refund-title {
    color: transparent;
    background-image: linear-gradient(to right, var(--accent), var(--primary));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
}
.help-title {
    background-image: linear-gradient(to right, #50f000, #00ff5f);
    -webkit-background-clip: text;
    background-clip: text;
}
.refund-title {
    background-image: linear-gradient(to right, #f05000, #ff005f);
    -webkit-background-clip: text;
    background-clip: text;
}
.stores {
    z-index: 0;
    width: 80%;
    background-color: var(--background-light);
    border-radius: 12px;
}
.store-items {
    width: 100%;
    color: var(--text-light);
    padding: 22px;
}
.hidden {
    display: none;
}
/* Add a CSS class for fading */
.fade {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Add a CSS class for showing */
.show {
    opacity: 1;
}

.store-items .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.item {
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 22px;
    background-color: var(--background);
    position: relative;
}
.item-img {
    width: 70%;
    background-color: var(--background-img);
    padding: 20px;
    border-radius: 12px;
}
.price-dlt {
    color: var(--text-light);
    text-decoration: line-through;
    text-align: center;
    font-size: 12px;
}
.item img {
    width: 100%;
    /* filter: saturate(80%); */
}
.item-img:hover {
    background-color: var(--overlay);
    border: 1px solid var(--primary);
}
.item:hover {
    border: 1px solid var(--primary);
}
.item-big:hover {
    border: 1px solid var(--primary);
}
.price {
    color: var(--primary);
    font-weight: 600;
}
.price-parent {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.item-name {
    color: var(--text-light);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px; 
}
.item-desc {
    display: none;
}
.store-items .title {
    color: var(--primary);
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
}
.item-big {
    z-index: 3;
    position: fixed;
    background-color: var(--background-light);
    width: 80%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    opacity: 0;
    animation: item-popup .3s cubic-bezier(0.77, 0.885, 0.175, 1.275) forwards;
}
.item-big-shown {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    animation: none;
}
.item-big-hidden {
    animation: item-hide .3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.item-side-one .item-img {
    width: 100%;
}
.item-side-one {
    width: 25%;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid var(--text-light);
}
.item-side-one img {
    width: 100%;
}
.item-big .item-desc {
    display: block;
    color: var(--text-light);
    letter-spacing: 1px;
    line-height: 135%;
    /* min-width: 300px; */
    width: 80%;
}
.item-side-two * {
    text-align: left;
    margin: 0 !important;
}
.item-side-two {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.item-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    color: var(--text-light)
}
.item-close:hover {
    background-color: var(--background-lighter);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.item-overlay {
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--overlay);
    width: 100%;
    height: 100%;
    z-index: 2
}
.item::after {
    width: 95%;
    height: 95%;
    position: absolute;
    content: "";
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px);
    opacity: 0;
}
.item:hover::after {
    opacity: 1
}
@keyframes item-popup {
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
@keyframes item-hide {
    to {
        transform: translate(-50%, -50% ) scale(0);
        opacity: 0; 
    }
}
@media (max-width: 1515px) {
    .store-items .content {
        justify-content: space-evenly;
        gap: 18px;
    }
}
@media (max-width: 1272px) {
    .hero .hero-logo {
        width: 80%
    }
}
@media (max-width: 1092px) {
    .store-items .content {
        flex-direction: row;
    }
    .item {
        width: 48%;
        min-width: 48%;

    }
}
@media (max-width: 992px) {
    main {
        margin-top: 150px;
    }
    .customer-heads {
        justify-content: space-between;
    }
    .mobile-store {
        display: block;
        padding-bottom: 0;
    }
    .store-categories:not(.mobile-store) {
        display: none;
    }
    .mobile-store .store-categories {
        display: block; /* Add this line */
    }
    .store-content {
        flex-direction: column;
    }
    .store-content > * {
        width: 100%;
    }
    .mobile-store {
        padding-left: 0;
        padding-right: 0;
    }
    .mobile-store ul {
        height: 0;
        transition: all .6s ease;
        overflow: hidden;
        padding-left: 25px;
    }
    .mobile-store .title {
        padding-left: 30px;
    }
    .mobile-store li::before {
        left: 0px !important;
    }
}
@media (max-width: 950px) {
    .item-big {
        flex-direction: column;
        align-items: center;
    }
    .item-side-one {
        width: 70%;
        border-bottom: 1px solid var(--text-light);
        border-right: 0;
        padding-right: 0 ;
        margin-left: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .item-side-two {
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 760px) {
    .store-items .content {
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 70% ;
    }
}
@media (max-width: 390px) {
    .item {
        max-width: 300px;
        min-width: 100%;
    }
}   